<script src="/assets/js/uploader.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script>
  new ClipboardJS('.btn-copy');
</script>

<div class="notification is-danger" id="notification">
  Link copiado para a área de transferência
</div>