<meta charset="UTF-8">
<title>Uploader</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
<link href="/assets/css/uploader.css" rel="stylesheet">
<link href="/assets/css/animated.css" rel="stylesheet">
<link href="/assets/css/dropzone.css" rel="stylesheet">

