<!DOCTYPE html>
<html lang="pt-br">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Buckets
          </h1>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="">
        <% buckets.forEach(function(bucket){ %>
          <div>
            <a href="/files/<%= bucket.name %>">
              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p><strong>/<%= bucket.name %></strong></p>
                    </div>
                  </div>
                </article>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    </div>

  </main>
  <% include ../partials/footer %>
</body>
</html>